$bg-color: lighten(saturate(#A7EFE9, 15%), 15%);

body {
  max-width: none;
}

body,html {
  margin:0;
  padding:0;
}

#background {
  background: url("https://i.imgur.com/UISUY2y.jpg") no-repeat bottom center;
  background-size: cover;
  min-height: 600px;
  padding: 1em;
  position: relative;
}

#content {
  display: flex;
  flex-direction: column;
}

header {
  display: none;
}

#flashcards {
  margin: 0 auto;
  padding: 1em 0;
  h2 {
    background-color: #595959;
    color: white;
  }
}

#header,
#top {
  max-width: 64em;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.bg-object {
  position: absolute;
  max-height: 300px;
}

#trampoline {
  bottom: 50px;
  right: 325px;
  height: 100px;
}

#elephant {
  bottom: 100px;
  right: 300px;
  height: 125px;

  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

#tree {
  bottom: 100px;
  right: 600px;
  height: 150px;
}

#squirrel {
  bottom: 185px;
  right: 600px;
  height: 70px;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .module-img {
    border: 5px solid white;
  }
  .left {
    padding-top: 15px;
  }
  .right {
    flex: 1;
    img {
      max-width: 30em;
    }
  }
}

.completed {
  position: relative;
}

.check {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 25px;
  height: 35px;
  width: 35px;
  background-color: #65BF3B;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: white;
  }
}

.text {
  display: inline-block;

  h1,
  h2,
  p {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
}

#last-module {
  margin-top: 60px;
  .module {
    max-width: 375px;
  }
}

#continue {
  padding-top: 1em;
  text-align: right;
}

h1 {
  font-size: 36pt;
  margin-bottom: 10px;
}

.level {
  padding: 1em 0;
}

main {
  background-color: $bg-color;
}

.module-img {
  width: 98%;
  border: 5px solid white;
  border-radius: 5px;
}

.module {
  cursor: pointer;
  max-width: 300px;
}
.locked {
  opacity: 0.5;
  cursor: initial;
}

#modules {
  display: flex;
  padding: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .module {
    margin: 10px;
  }
}

hr {
  border-top: 1px solid #eee;
  margin: 1em 5em;
}

#overlay {
  align-items: center;
}

.overlay-box {
  background-color: #a6ef18;
  border-radius: 5px;
}

.overlay-row {
  padding: 0 2em;
}

#box-title {
  margin-top: 10px;
  color: white;
  background-color: #75c802;
}

#lessons {
  display: flex;
  max-width: 70em;

  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  .lesson {
    width: 31%;
    padding: 10px;

    h2 {
      margin-top: 0;
    }
    img {
      max-width: 100%;
      border: 5px solid #fff;
      border-radius: 5px;
    }
  }
}

@media (max-width:1405px) {
  #header {
    justify-content: space-between;
  }
  #logo, #account {
    position: static;
  }
  #modules .module {
    flex-direction: column;
  }
  #top {
    .left {
      margin-bottom: 40px;
      margin-left: 20px;
    }
  }
  #last-module {
    margin-top: 20px;
  }
}
@media (max-width: 828px) {
  #modules {
    .module {
      margin: 10px 0;
    }
    .module + .module {
      margin-left: 0;
    }
  }
  .module {
    max-width: 300px;
    width: 100%;
  }
  #top .left {
    width: 100%;
    margin: 0;
  }
  #top {
    text-align: center;
    .module {
      margin: 0 auto;
    }
  }
  .bg-object {
    display: none;
  }

  .overlay-box {
    height: 90vh;
    overflow-y: scroll;
  }

  #lessons {
    .lesson {
      padding: 10px 0;
      width: initial;
      max-width: 500px;
    }
  }
  #HideAndSeek {
    display: none;
  }
  #logo img {
    width: 90px;
  }
}