$primary-color: lighten(desaturate(#ffe000, 0.2), 10%);
  //#ffe000;
$dark-primary: #ffb605;

$red: #ff6f85;
$blue: #44A5DC;
$yellow: #FFC200;
$green: #65BF3B;
$grey: #ddd;

//body {
//  background-color: $primary-color;
//  //color: white;
//}

#game-name {
    background-color: $dark-primary;
    color: white;
}

#module-name {
  border-bottom: 5px solid $dark-primary;
}

#new-word {
  margin: 1em 0;
  //padding: 1em 3em;

  text-align: center;
  background-color: white;

  h1 {
    font-size: 36pt;
    margin: 0;
  }
  img {
    max-width: 12em;
  }
}

#instruction {
  text-align: center;
}

#options {
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .option {
    background-color: white;
    width: 214px;

    font-family: "Muli", "Arial", sans-serif;
    display: block;
    padding: 1em 0;
    margin: 10px;

    cursor: pointer;
    font-size: 20pt;
    text-align: center;

    h3 {
      margin: 0;
      margin-bottom: 0.5em;
    }
    .word, i {
      //color: white;
    }
    img {
      max-width: 200px;
      max-height: 115px;
    }
  }
  .option:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    transition: 0.4s box-shadow;
  }
}

.correct {
  color: $green;
}

.wrong {
  color: $red;
}
//#option-0 {
//  background-color: $red;
//}
//
#option-0 {
  border-bottom: 15px solid $red;
  transition: border-bottom 0.4s;
}

#option-1 {
  border-bottom: 15px solid $blue;
  transition: border-bottom 0.4s;
}

#option-2 {
  border-bottom: 15px solid $yellow;
  transition: border-bottom 0.4s;
}

#option-3 {
  border-bottom: 15px solid $green;
  transition: border-bottom 0.4s;
}

#continue-container {
  padding-top: 3em;
  text-align: center;
}

#continue,
#finish {
  display: none;
}

#continue {
  margin: 0 auto;
}